<td></td>

<td>
  {{schepenen-aanstelling/personen-selector onSelect=(action "select") bestuursorgaan=bestuursorgaan}}
</td>

<td>
</td>

<td>
</td>
<td>
</td>
<td>
</td>

<td>
  {{#wu-button-group}}
    {{#if selectedMandataris}}
      {{#wu-link-button class="button--small" isNarrow=true onClick=(action "save")}}
        <i class="vi vi-check vi-u-xs"></i>Voeg toe
      {{/wu-link-button}}
    {{/if}}
    {{#wu-link-button class="button--small button--alt" isNarrow=true onClick=(action "cancel")}}
      <i class="vi vi-cross vi-u-s"></i>Annuleer
    {{/wu-link-button}}
  {{/wu-button-group}}
</td>
