<div class="grid grid--collapse">
  <div class="col--1-1">
    <label class="form__label">
      {{wu-datepicker
        placeholder=datetimePlaceholder
        class="date-range__datepicker datepicker"
        value=(mut date)
        dateFormat=dateFormat
      }}
    </label>
  </div>
</div>
