<table class="data-table data-table--lined data-table--zebra">
  <thead>
    <tr>
      <th>Voornaam &amp; Familienaam</th>
      <th>Mandaat</th>
      <th>Begin</th>
      <th>Einde</th>
      <th>
        <div class="grid">
          <div class="col--6-12">
            Actie
          </div>
          <div class="col--6-12 u-align--right">
            {{#wu-link-button class="button--small" isNarrow=true onClick=(action "addMandataris")}}
              <i class="vi vi-plus vi-u-s"></i>Voeg schepen toe
            {{/wu-link-button}}
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>

    {{#if addMandatarisMode}}
      {{#if getUpToDateMandatarissen.isRunning}}
        <tr>
          <td>
            <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
          </td>
          <td></td><td></td><td></td><td></td>
        </tr>
      {{else}}
        {{schepenen-aanstelling/add-new-schepen
          onCancel=(action "cancelAddMandataris")
          onSave=(action "saveAddMandataris")
          bestuursorgaan=bestuursorgaan
          bestuurseenheid=bestuurseenheid
          mandatarissen=upToDateMandatarissen
        }}
      {{/if}}
    {{/if}}

    {{#each sortedMandatarissen as |mandataris|}}
      {{schepenen-aanstelling/schepenen-table-row
        mandataris=mandataris
        bestuurseenheid=bestuurseenheid
        bestuursorgaan=bestuursorgaan
        onRemove=(action "remove")
      }}
    {{/each}}
  </tbody>
</table>
{{yield}}
